#navbarLogo {
    width: 220px;
    
}
.signin {
    font-size: 17px;
    font-weight: bold;
    display: ruby;
    background-color: red;
color: white;
border: none;
height:36px;
width: 105px;
border-radius: 3px;

}
nav {
    justify-content: space-between;
    display: flex;
    padding: 38px 118px
    
    
}
body {
    background-image: url(Backgr.jpg)
}
h1 {
    color: white;
    padding: 412 80;
    font-size: 40px;
    font-weight: 700;
display: block;
text-align: center;
margin: 80px;


}
p {
    color: white;
padding: 23 412 ;
font-size: 40px;
text-align: center;
margin: 16px;
 
}
h3 {
    color: white;
    padding: 364 54;
    
    font-size: 30px;
    text-align: center;
    margin: 0px;
}   
#emailAddress {
    
  clear: left;
    height:45px;
    width: 455px;
    background-image: none;
    border: none;
 margin-left: 20vw;
    
 width: 50%;
    
  
   

}
.getStarted {

    font-size: 17px;
    font-weight: bold;
    
    background-color: red;
color: white;
border: none;
height:50px;
width: 155px;
border-radius: 3px;

}